<template>
  <div class="requests-container">
    <RequestStatusBar></RequestStatusBar>
    <div
      v-if="isLoading"
      class="loading-bar"
    >
      <pulse-loader
        :loading="isLoading"
        :color="'blueviolet'"
      ></pulse-loader>
    </div>
    <RequestsList
      v-if="requests.length > 0 || !!error"
      :requests-arg="requests"
    ></RequestsList>
    <base-dialog
      v-if="!!error"
      title="An error occured!"
      @close="confirmError"
    >
      <template #body>
        <p>{{ error }}</p>
      </template>
      <template #footer>
        <base-button title="Okay"></base-button>
      </template>
    </base-dialog>
  </div>
</template>
<script>
import RequestsList from "./RequestsList";
import RequestStatusBar from "./RequestStatusBar";
import * as constants from "../constants";

export default {
  components: { RequestStatusBar, RequestsList },
  data () {
    return {
      error: null,
      isLoading: false
    };
  },
  computed: {
    isAuthenticated () {
      return this.$store.getters.isAuthenticated;
    },
    requests () {
      const filterType = this.$store.getters.getFilterType;
      return !this.isLoading && filterType === constants.REQ_ALL
        ? this.$store.getters.getRequests
        : this.$store.getters.getRequests.filter(
          req => req.status === filterType
        );
    }
  },
  methods: {
    async loadRequests () {
      this.isLoading = true;
      try {
        await this.$store.dispatch("loadRequests");
      } catch (error) {
        this.error = error.message || "Something went wrong";
      }
      this.isLoading = false;
    },

    confirmError () {
      this.error = null;
    }
  },

  created () {
    this.loadRequests();
  }
};
</script>

<style scoped>
.loading-bar {
  display: flex;
  width: 100%;
  color: blueviolet;
  justify-content: center;
}
</style>
