<template>
  <div class="container">
    <div
      v-if="isAuthenticated"
      class="already-logged-in"
    >
      <p>You already logged in, you can logout</p>
    </div>
    <div
      v-else
      class="not-logged-in"
    >
      <h3>Sign In</h3>
      <button
        @click="socialLogin"
        class="social-button"
      >
        <img
          alt="Google Logo"
          src="../assets/google-logo.png"
        />
      </button>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
export default {
  name: "login",
  data () {
    return {
      error: null
    };
  },

  computed: {
    isAuthenticated () {
      return this.$store.getters.isAuthenticated;
    }
  },

  methods: {
    socialLogin: function () {
      const provider = new firebase.auth.GoogleAuthProvider();
      firebase
        .auth()
        .signInWithPopup(provider)
        .catch(err => {
          console.log(err);
          this.error = err.message;
        });
    }
  }
};
</script>

<style scoped>
.container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.already-logged-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
}

button {
  margin-top: 20px;
  width: 10%;
  cursor: pointer;
}
.social-button {
  width: 75px;
  background: white;
  padding: 10px;
  border-radius: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  outline: 0;
  border: 0;
}
.social-button:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.social-button img {
  width: 100%;
}
</style>
