<template>
  <header>
    <nav>
      <router-link to="/">
        <div>Requests</div>
      </router-link>
      <ul>
        <li v-if="isAuthenticated">
          <button
            @click="signOut"
            class="btn"
          >
            Logout
          </button>
        </li>

        <li v-else>
          <router-link to="/login">Login</router-link>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
import firebase from "firebase";
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      user: "user",
      isAuthenticated: "isAuthenticated"
    })
  },

  methods: {
    signOut () {
      firebase.auth().signOut();
      // .then(() => {
      //   firebase.auth().onAuthStateChanged(() => {
      //     this.$router.push("/login");
      //   });
      // });
    }
  },

  created () {
    // firebase.auth().onAuthStateChanged(user => {
    //   this.$store.dispatch("fetchUser", user);
    // });
  }
};
</script>

<style scoped>
header {
  width: 100%;
  height: 5rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.3);
  /* margin-bottom: 2.5rem; */
}

header a {
  text-decoration: none;
  color: blueviolet;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
}

a:active,
a:hover,
a.router-link-active {
  border: 2px solid blueviolet;
  transition: all 0.5s;
}

header nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header ul li {
  /* margin: 0.2rem; */
}
</style>
