<template>
  <div class="request-control">
    <button
      class="request-control-button"
      :class="getButtonClass(constants.REQ_OPEN)"
      @click="setFilterType(constants.REQ_OPEN)"
    >
      OPEN
    </button>
    <button
      class="request-control-button"
      :class="getButtonClass(constants.REQ_IN_WORK)"
      @click="setFilterType(constants.REQ_IN_WORK)"
    >
      IN WORK
    </button>
    <button
      class="request-control-button"
      :class="getButtonClass(constants.REQ_CLOSE)"
      @click="setFilterType(constants.REQ_CLOSE)"
    >
      CLOSE
    </button>
  </div>
</template>

<script>
import * as constants from "../constants";
export default {
  data () {
    return {
      constants
    };
  },
  computed: {
    filterType () {
      return this.$store.getters.getFilterType;
    }
  },
  methods: {
    setFilterType (filterType) {
      this.$store.commit("SET_FILTER_TYPE", filterType);
    },
    getButtonClass (buttonFilterType) {
      if (this.filterType === buttonFilterType) {
        return "active";
      }
    }
  }
};
</script>

<style scoped>
.request-control {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 2rem auto;
}

.request-control-button {
  width: 33.333%;
  padding: 1rem 2rem;
  border: none;
  background-color: rgb(237, 217, 255);
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.3); */
}

.active {
  background-color: rgb(154 113 191);
}
</style>
