<template>
  <div class="requests">
    <RequestCard
      v-for="request in requestsArg"
      :key="request.id"
      :request-arg="request"
    ></RequestCard>
  </div>
</template>

<script>
import RequestCard from "./RequestCard.vue";
export default {
  components: { RequestCard },
  props: ["requestsArg"],

  data() {
    return {
      requests: this.requestsArg
    };
  }
};
</script>

<style scoped>
.requests {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
</style>
