<template>
  <div class="request-card">
    <div class="request-header">
      <div class="request-id">
        <span>
          <h4>ID {{ request.id }}</h4>
        </span>
      </div>
      <div class="request-status">
        <span
          class="status-badge"
          :class="getClassForStatus()"
        >
          {{ request.status }}
          <!-- <h4>{{ request.status }}</h4> -->
        </span>
      </div>
    </div>
    <div class="section-1">
      <div class="section-1-client-name">
        <h4>Client's name</h4>
        <h4>{{ request.clientName }}</h4>
      </div>
      <div class="section-1-client-phone">
        <!-- <h4>Client's phone</h4> -->
        <h4>Client's phone <i class="fas fa-phone-square-alt"></i></h4>

        <h4>{{ request.clientPhone }}</h4>
      </div>
    </div>
    <div class="section-2">
      <div class="section-2-item">
        <!-- <h4>Client need diagnostic</h4> -->
        <i class="fas fa-cogs"></i>
        <h4>{{ request.needDiagnostic }}</h4>
      </div>
      <div class="section-2-item">
        <!-- <h4>Clients' car is</h4> -->
        <i class="fas fa-car"></i>
        <h4>{{ request.machine }}</h4>
      </div>
      <div class="section-2-item">
        <!-- <h4>Clients' car year is</h4> -->
        <i class="fas fa-calendar"></i>
        <h4>{{ request.machineYear }}</h4>
      </div>
    </div>
    <div class="section-3">
      <div class="section-3-item">
        <!-- <h4>Mechanic arrival in</h4> -->
        <h4>Mechanic arrival in <i class="far fa-clock"></i></h4>

        <h4>{{ moment(request.arrivalMechanicDateTime) }}</h4>
      </div>
      <div class="section-3-item">
        <!-- <h4>Address is</h4> -->
        <h4>Address <i class="fas fa-map-marker-alt"></i></h4>

        <h4>{{ request.address }}</h4>
      </div>
      <div class="section-3-item">
        <!-- <h4>Request cretaed in</h4> -->
        <h4>Created <i class="far fa-calendar-plus"></i></h4>
        <h4>{{ moment(request.createdTimestamp) }}</h4>
      </div>
    </div>
    <div class="client-problem">
      <h4>Clients's problem is {{ request.problemDescription }}</h4>
    </div>
    <div class="actions">
      <button
        class="btn"
        v-if="request.status == constants.REQ_OPEN"
        @click="changeRequestStatus(request.id, constants.REQ_IN_WORK, null)"
      >
        IN WORK<i class="fas fa-democrat"></i>
      </button>
      <!-- <button
        class="btn"
        v-if="request.status == constants.REQ_OPEN"
        @click="changeRequestStatus(request.id, constants.REQ_CLOSE, null)"
      >
        CLOSE<i class="fas fa-check"></i>
      </button> -->
      <button
        class="btn"
        v-if="request.status == constants.REQ_IN_WORK"
        @click="changeRequestStatus(request.id, constants.REQ_CLOSE, null)"
      >
        CLOSE<i class="fas fa-check"></i>
      </button>
    </div>
  </div>
</template>

<script>
import * as constants from "../constants";
import moment from "moment";
export default {
  props: ["requestArg"],

  data () {
    return {
      status: this.requestArg.status,
      request: this.requestArg,
      constants: constants,
      error: null,
      isLoading: false
    };
  },

  methods: {
    getClassForStatus () {
      if (this.status === this.constants.REQ_OPEN) {
        return "open";
      } else if (this.status === this.constants.REQ_IN_WORK) {
        return "in-work";
      } else if (this.status === this.constants.REQ_CLOSE) {
        return "close";
      }
    },

    async changeRequestStatus (id, status, parameters) {
      this.isLoading = true;
      try {
        await this.$store.dispatch("changeRequestStatus", {
          id: id,
          nextStatus: status,
          parameters: parameters
        });
      } catch (error) {
        this.error = error.message || "Something went wrong";
      }
      this.isLoading = false;
    },

    confirmError () {
      this.error = null;
    },

    moment (utcTimestamp) {
      return (
        moment
          .unix(utcTimestamp)
          // .local()
          .format("DD/MM/YYYY HH:mm")
      );
    }
  }
};
</script>

<style scoped>
.request-card {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 80%;
  box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #424250;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2rem;
  /* word-break: break-all; */
}

.request-header {
  display: flex;
  flex: 100%;
}
.request-id {
  color: white;
  margin-left: 2rem;
  text-align: left;
  flex: 67.66%;
}
.request-status {
  margin-right: 2rem;
  text-align: right;
  color: black;
  display: flex;
  justify-content: right;
  align-items: center;
  /* flex: 33.33%; */
}
.section-1 {
  display: flex;
  background-color: grey;
  border-bottom: none;
  flex: 100%;
}

.section-1-client-name {
  flex: 33.33%;
}
.section-1-client-phone {
  flex: 67%;
}
.section-2 {
  display: flex;
  flex: 100%;
  align-items: stretch;
}

.section-2-item {
  flex: 33.33%;
  background-color: grey;
  border: 1px solid black;
  border-left: none;
  border-bottom: none;
  vertical-align: middle;
}

.section-2-item i,
.section-3-item i {
  margin-top: 0.4rem;
}
.section-3 {
  display: flex;
  flex: 100%;
  align-items: stretch;
}

.section-3-item {
  flex: 33.33%;
  background-color: grey;
  border: 1px solid black;
  border-left: none;
  vertical-align: middle;
}

.client-problem {
  display: flex;
  flex: 100%;
  justify-content: center;
}

.status-badge {
  word-break: keep-all;
  display: block;
  padding: 0px 10px;
  border-radius: 10px;
}
.open {
  background-color: whitesmoke;
}

.in-work {
  background-color: rgb(255, 255, 96);
}

.close {
  background-color: rgb(152, 223, 152);
}

.actions {
  display: flex;
  flex: 100%;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  .section-1-client-name {
    flex: 50%;
  }
  .section-1-client-phone {
    flex: 50%;
  }
  .section-3 {
    flex-direction: column;
  }
  .section-3-item {
    border-bottom: none;
  }
}
</style>
