<template>
  <div>
    <Navbar />
    <router-view />
  </div>
</template>

<script>
import Navbar from "./components/Navbar";
export default {
  components: { Navbar },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fef9f8;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  background-color: rgb(237, 217, 255);
  border-radius: 5px;
  height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.3);
}
</style>
