<template>
  <teleport to="body">
    <transition name="modal-fade">
      <div class="modal-backdrop" @click="$emit('close')">
        <div class="modal">
          <header class="modal-header">
            <slot name="header">
              {{ title }}
              <!-- <button type="button" class="btn-close" @click="$emit('close')">
                x
              </button> -->
            </slot>
          </header>
          <section class="modal-body">
            <slot name="body">
              I'm the default body!
            </slot>
          </section>
          <footer class="modal-footer">
            <slot name="footer">
              I'm the default footer!

              <button type="button" class="btn-green" @click="$emit('close')">
                Close me!
              </button>
            </slot>
          </footer>
        </div>
      </div>
    </transition>
  </teleport>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: false,
    },
  },

  emits: ["close"],

  methods: {},
};
</script>

<style scoped>
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  background: #ffffff;
  width: 50%;
  margin: auto;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
}

.modal-header,
.modal-footer {
  padding: 15px;
  display: flex;
  align-items: center;
}

.modal-header {
  border-bottom: 1px solid #eeeeee;
  color: rgb(255, 109, 109);
  justify-content: space-between;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
  justify-content: flex-end;
}

.modal-body {
  position: relative;
  padding: 20px 10px;
}

.btn-close {
  border: none;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  font-weight: bold;
  color: blueviolet;
  background: transparent;
}

.btn-green {
  margin-left: 1rem;
  color: white;
  background: blueviolet;
  padding: 15px;
  border: 1px solid blueviolet;
  border-radius: 2px;
}

.modal-fade-enter,
.modal-fade-leave-active {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.5s ease;
}
</style>
