<template>
  <button class="btn">
    {{ title }}
  </button>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: false,
    },
  },
};
</script>

<style scoped>
.btn {
  padding: 1rem 2rem;
  border: none;
  background-color: rgb(237, 217, 255);
  border-radius: 5px;
  height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.3);
}

.btn:active,
.btn:hover,
.btn.router-link-active {
  border: px solid blueviolet;
  transition: all 2s;
}
</style>
